{% extends "base.html" %}
{% block content %}
<div class="conbar"><h1>關於我們</h1></div>
<div style="display: flex; justify-content: center;padding-top: 30px ">
    <img src="https://i.imgur.com/h335K8b.png" alt="Trashcan1" style="width: 390px; height: 500px; padding:30 15px 0 ;"/>
    <img src="https://i.imgur.com/pAlxhDF.png" alt="about_text" style="width: 500px; height: 450px; padding:10 100px 0 ;"/>
</div>
<div class="conbar"><h1>介紹影片</h1></div>
<div class="video-container">
    <iframe style="width:784px; height:441px;" src="https://www.youtube.com/embed/AfafdZhzV9c?si=HU4_CsVDWWkOs7RI" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}
